.container {
  width: 90%;
  margin: 0 auto;
}

.jumbotron {
  display: flex;
  height: 150px;
  text-align: center;
  background-color: rgb(235, 229, 229);
  align-items: center;
  justify-content: center;
  color: rgb(96, 93, 93);
  margin-bottom: 30px;
}

.blogs {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}

.card {
  width: 310px;
  border: 1px solid rgb(238, 232, 232);
  margin-bottom: 5px;
}

.card-header {
  background-color: blue;
  padding: 10px;
}

.card-body {
  padding: 10px;
  background-color: rgb(248 244 244);
}

